#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "src/app_services/Kconfig.performance_test"

config ADS129x_RINGBUFF
    bool "Enable ringbuff"
    help
     Enable ringbuff.


config ADS129x_PIPE
    bool "Enable pipe"
    help
     Enable ringbuff.


source "Kconfig.zephyr"
