&wdt {
    status = "disabled";
};

&wdt1 {
    status = "disabled";
};

&i2c1 {
    status = "disabled";
};

&pwm0 {
    status = "disabled";
};

&spi2 {
    status = "disabled";
};

&spi4 {
    status = "disabled";
};

&qspi {
    status = "disabled";
};

&adc {
	status = "disabled";
};

&uart0 {
    status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
    /delete-property/ rts-pin;
    /delete-property/ cts-pin;
};

&pinctrl {
    spi1_default_alt: spi1_default_alt {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 7)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 6)>,
                    <NRF_PSEL(SPIM_MISO, 1, 5)>;
        };
    };

};

nrf53_spi: &spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    cs-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi1_default_alt>;
    pinctrl-names = "default";
    miso-pull-down;

// ads129x_sensor_spi: ads129x_spi@0 {
//     compatible = "spi-device";
//     reg = <0x0 >;
//     spi-max-frequency = <4000000>;
//     label = "ads129x_spi";
//     status = "okay";
// };
};

/ {
    arduino_header: connector {
        compatible = "arduino-header-r3";
        #gpio-cells = <2>;
        gpio-map-mask = <0xffffffff 0xffffffc0>;
        gpio-map-pass-thru = <0 0x3f>;
        gpio-map = <0 0 &gpio0 4 0>,	/* A0 */
            <1 0 &gpio0 5 0>,	/* A1 */
            <2 0 &gpio0 6 0>,	/* A2 */
            <3 0 &gpio0 7 0>,	/* A3 */
            <4 0 &gpio0 25 0>,	/* A4 */
            <5 0 &gpio0 26 0>,	/* A5 */

            <6 0 &gpio1 0 0>,	/* D0 */
            <7 0 &gpio1 1 0>,	/* D1 */
            <8 0 &gpio1 4 0>,	/* D2 */
            <9 0 &gpio1 5 0>,	/* D3 */
            <10 0 &gpio1 6 0>,	/* D4 */
            <11 0 &gpio1 7 0>,	/* D5 */
            <12 0 &gpio1 8 0>,	/* D6 */
            <13 0 &gpio1 9 0>,	/* D7 */

            <14 0 &gpio1 10 0>,	/* D8 */
            <15 0 &gpio1 11 0>,	/* D9 */
            <16 0 &gpio1 12 0>,	/* D10 */
            <17 0 &gpio1 13 0>,	/* D11 */
            <18 0 &gpio1 14 0>,	/* D12 */
            <19 0 &gpio1 15 0>,	/* D13 */
            /* GND */
            <20 0 &gpio1 2 0>,	/* D15 */
            <21 0 &gpio1 3 0>;	/* D16 */
    };

    intput_pins {
        compatible = "gpio-keys";
        ads129x_drdy: ads129x_drdy {
            gpios = <&arduino_header 20 GPIO_ACTIVE_HIGH>;
            label = "ADS129X_DRDY_PIN";
        };
    };

    output_pins {
        compatible = "gpio-leds";
        ads129x_reset: ads129x_reset {
            gpios = <&arduino_header 18 GPIO_ACTIVE_HIGH>;
            label = "ADS129X_RESET_PIN";
        };

        ads129x_start: ads129x_start {
            gpios = <&arduino_header 19 GPIO_ACTIVE_HIGH>;
            label = "ADS129X_START_PIN";
        };
    };

    /* disable other resources */
    pwmleds {
        compatible = "pwm-leds";
        pwm_led0: pwm_led_0 {
            status = "disabled";
        };
    };

    buttons {
        button0: button_0 {
            status = "disabled";
        };
        button1: button_1 {
            status = "disabled";
        };
        button2: button_2 {
            status = "disabled";
        };
        button3: button_3 {
            status = "disabled";
        };
    };
};

