&uart0 {
     /delete-property/ rts-pin;
     /delete-property/ cts-pin;
};

&spi2 {
     compatible = "nordic,nrf-spim";
     status = "okay";
     sck-pin = <47>;  // SCK GPIO1 pin 15
     miso-pin = <46>; // MISO GPIO1 pin 14
     mosi-pin = <45>; // MOSI GPIO1 pin 13
     cs-gpios = <&gpio1 12 0>;
};

&i2c1 {
     status = "disabled";
};

/ {
     arduino_header: connector {
          compatible = "arduino-header-r3";
          #gpio-cells = <2>;
          gpio-map-mask = <0xffffffff 0xffffffc0>;
          gpio-map-pass-thru = <0 0x3f>;
          gpio-map = <0 0 &gpio0 4 0>,	/* A0 */
               <1 0 &gpio0 5 0>,	/* A1 */
               <2 0 &gpio0 6 0>,	/* A2 */
               <3 0 &gpio0 7 0>,	/* A3 */
               <4 0 &gpio0 25 0>,	/* A4 */
               <5 0 &gpio0 26 0>,	/* A5 */

               <6 0 &gpio1 0 0>,	/* D0 */
               <7 0 &gpio1 1 0>,	/* D1 */
               <8 0 &gpio1 4 0>,	/* D2 */
               <9 0 &gpio1 5 0>,	/* D3 */
               <10 0 &gpio1 6 0>,	/* D4 */
               <11 0 &gpio1 7 0>,	/* D5 */
               <12 0 &gpio1 8 0>,	/* D6 */
               <13 0 &gpio1 9 0>,	/* D7 */

               <14 0 &gpio1 10 0>,	/* D8 */
               <15 0 &gpio1 11 0>,	/* D9 */
               <16 0 &gpio1 12 0>,	/* D10 */
               <17 0 &gpio1 13 0>,	/* D11 */
               <18 0 &gpio1 14 0>,	/* D12 */
               <19 0 &gpio1 15 0>,	/* D13 */
               /* GND */
               <20 0 &gpio0 27 0>,   /* AREF */
               <21 0 &gpio1 2 0>,	/* D15 */
               <22 0 &gpio1 3 0>;	/* D16 */
     };

     ads129x {
          compatible = "gpio-keys","gpio-leds";
        ads129x_drdy: ads129x_drdy {
            gpios = <&arduino_header 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Data ready indcator";
        };
        ads129x_reset: ads129x_reset {
            gpios = <&arduino_header 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Reset";
        };
     };
};

