#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BT_PERF_TEST
    bool "Performance test service"
    depends on BT_GATT_DM && BT_SCAN
    help
     Enable Nordic GATT performance test BLE service.

if BT_PERF_TEST

module = BT_PERF_TEST
module-str = PERF_TEST
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BT_PERF_TEST
